<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Teacher Page</title>
</head>
<body>
<h1>Add Teacher Page</h1>
<form action="/teachers/add" method="post">
  First Name: <input type="text" name="firstName"><br>
  Last Name: <input type="text" name="lastName"><br>
  Email: <input type="text" name="email"><br>
  User Type: <select name="userType">
  <option value="STUDENT">Student</option>
  <option value="TEACHER">Teacher</option>
</select>
  <button type="submit">Submit</button>
</form>
</body>
</html>